<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>GSA-IN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GSA-IN</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please grant camera permissions to take and upload project photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please grant the album to save the exported images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please grant the album to select and upload project photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Please authorize location information to use feature</string>
   	<key>NSLocationWhenInUseUsageDescription</key>
   	<string>Please authorize location information to use feature</string>
   	<key>NSMicrophoneUsageDescription</key>
   	<string>Please authorize the microphone to detect ambient noise decibels</string>
   	<key>NSCalendarsUsageDescription</key>
    <string>Please authorize Calendar to use function</string>
    <key>NSMotionUsageDescription</key>
    <string>Please authorize the barometer to information.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>The app may need to use Bluetooth to connect to external devices</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Your app may require speech recognition to provide voice interaction</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>Applications may need to access the media library to manage audio resources</string>
    <key>NSContactsUsageDescription</key>
    <string>Apps may need to access contacts to provide social features</string>
    <key>NSSiriUsageDescription</key>
    <string>Quickly get directions with Siri voice commands, such as "Hey Siri, tell me the current direction in the Compass app"</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>The app may need to use Bluetooth to connect to external devices</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
